{% extends 'main.html' %}

{% block title %}
Подробный список измерений за дату
{% endblock %}

{% block body %}

{% with menu='detail' %}
    {% include 'includes/menu.html' %}
{% endwith %}

<div class="cell">

    {% if request.args.table %}
    {% set header_title = 'Таблица' %}
    {% else %}
    {% set header_title = 'График' %}
    {% endif %}

    <hr>
    <h2><p class=" text-center">{{ header_title }} измерений за сутки </p></h2>
    <h4 class=" text-center">{{ day_of_month(date.month) }} {{ date.day }}, {{ date.year }}</h4>
    <hr>

    <div class="grid-x grid-margin-x small-up-2" style="margin 2pt 2pt">
        <div class="cell"><input type="date" name="date-picker" onchange="updateValue(event);" value={{ date }}></div>

        <script>
            const url_params = new URLSearchParams(window.location.search);

            function updateValue(e) {
                url_params.delete('page');
                url_params.set('date', e.target.value);
                window.location = '?' + url_params;
            }
        </script>

        <div class="cell">
            {% include 'includes/sensor_select.html' %}
        </div>
    </div>


    {% if chart_data or entries.items|length > 0 %}

        {% if request.args.table %}
        <a href="{{ query_update(request, table=0) }}" class="hollow button small expanded">Перейти к графику</a>
        {% include 'includes/detail_table.html' %}

        {% else %}
        <a href="{{ query_update(request, table=1) }}" class="hollow button small expanded">Перейти к таблице</a>
        {% include 'includes/detail_chart.html' %}
    
        {% endif %}
    {% else %}
        <h3 class=" text-center">Нет данных</h3>
    {% endif %}
</div>

{% endblock %}